/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}

/* Barra superior */
.navbar {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Contenedor central */
.contenedor {
    background: #e6e6e6;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* FLEXBOX productos */
.productos {
    display: flex;
    gap: 20px;
}

.caja {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background: #f5f5f5;
}

/* Footer */
footer {
    text-align: center;
    background: #ccc;
    padding: 10px;
}
